@use "../themes/variables" as *;

.hero-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.hero-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.hero-background__image,
.hero-background__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-background__image {
  filter: blur(60px);
}

.hero-background__overlay {
  z-index: 1;
  opacity: 0.7;
  background-color: $backgroundPrimary;
}
.hero-content {
  z-index: 1;
  padding: 20px;
  padding-top: 10vh;
  width: 100%;
  max-width: $maxMainWidth;
}

.hero-content__inner {
  max-width: 700px;
  h1 {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  .hero-background__overlay {
    background-color: $backgroundPrimaryDark;
  }
}

// MY WORK
#my-work {
  height: 80vh;
  width: 100%;
  padding: 20px;

  .my-work--inner {
    display: flex;
    max-width: $maxMainWidth;
    margin: auto;
  }

  .my-work--left {
    display: flex;
    flex-direction: column;
  }

  .my-work--project {
    img {
      width: 100%;
      height: 30vh;
      min-height: 300px;
    }
  }
}
